:root {
  --main-text-cl: #555555;
  --accent-cl: #FF6C00;
  --secondary-cl: #FFFFFF;
  --heading-cl: #303030;
  --sky-gray-cl: rgba(157, 164, 189, 0.6);
  --gray-cl: #9DA4BD;
}

/* open-sans-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-600.woff") format("woff"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-600.ttf") format("truetype"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/open-sans-v20-latin_cyrillic-ext_cyrillic-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,86;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}

body.is-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.centered.price-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 85px;
  padding-bottom: 85px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.overhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--sky-gray-cl);
}

.overhead.dark {
  color: var(--heading-cl);
}

.overhead::before {
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.title {
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--heading-cl);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 20px 40px 10px;
  z-index: 99;
}

.header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.icon-logo {
  width: 70px;
  height: 55px;
  fill: var(--secondary-cl);
}

@media screen and (min-width: 768px) {
  .icon-logo {
    fill: var(--heading-cl);
  }
}

@media screen and (min-width: 768px) {
  .connection-list.mobile {
    display: none;
  }
  .connection-list.tablet-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .connection-list.tablet-desktop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .connection-list {
    margin-bottom: 65px;
  }
  .connection-list.tablet-desktop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .connection-list .item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .connection-list .item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connection-list .item:nth-child(2) {
    margin-bottom: 20px;
  }
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  z-index: 99;
}

.menu-btn .icon {
  width: 40px;
  height: 40px;
}

.menu-btn .icon .icon-menu {
  fill: var(--secondary-cl);
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    min-height: 575px;
    width: 100%;
    background-color: rgba(25, 28, 38, 0.5);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
    overflow: hidden;
    pointer-events: none;
  }
  .menu.is-open {
    opacity: 1;
    pointer-events: all;
  }
  .menu.is-open .menu-box {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  .menu .menu-box {
    width: 100%;
    height: 100%;
    padding: 120px 40px 0 40px;
    background-color: var(--secondary-cl);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms linear 250ms;
    transition: -webkit-transform 250ms linear 250ms;
    transition: transform 250ms linear 250ms;
    transition: transform 250ms linear 250ms, -webkit-transform 250ms linear 250ms;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 767px) {
  .menu-list {
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 65px;
  }
}

@media screen and (max-width: 767px) {
  .menu-list .item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .menu-list .item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .menu-list .item:not(:last-child) {
    margin-right: 40px;
  }
}

.menu-link,
.tel-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  color: var(--heading-cl);
}

.menu-link:hover, .menu-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-cl);
}

@media screen and (min-width: 768px) {
  .menu-link,
  .tel-link {
    font-size: 12px;
    line-height: 1.33;
    color: var(--secondary-cl);
  }
}

.btn {
  display: inline-block;
  padding: 12px 0;
  min-width: 160px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: var(--heading-cl);
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear, color 250ms linear;
  transition: background-color 250ms linear, color 250ms linear;
}

.btn.light {
  color: var(--secondary-cl);
}

.btn.light:hover, .btn.light:focus {
  color: var(--heading-cl);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-cl);
  color: var(--secondary-cl);
}

.social-list-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 30px;
}

.social-list-icon .item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-cl);
}

.icon-link .icon {
  fill: var(--heading-cl);
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.icon-link:hover .icon,
.icon-link:focus .icon {
  fill: var(--accent-cl);
}

@media screen and (max-width: 767px) {
  .social-list.hero-tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .social-list.hero-tablet {
    position: absolute;
    bottom: 30%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-90deg) translate(0%, 50%);
            transform: rotate(-90deg) translate(0%, 50%);
  }
  .social-list.mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .social-list .item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .social-list .item:not(:last-child) {
    margin-right: 40px;
  }
}

.social-list .item .social-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  color: var(--heading-cl);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.social-list .item .social-link:hover, .social-list .item .social-link:focus {
  color: var(--accent-cl);
}

.social-list.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.social-list.footer .item:not(:last-child) {
  margin: 0 40px 0 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .form .tablet-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .form .tablet-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form .tablet-input .form-input {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .form .tablet-input .form-input:not(:last-child) {
    margin-right: 30px;
  }
}

.form .form-field {
  margin-bottom: 45px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-cl);
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  resize: none;
}

.form .form-field:focus, .form .form-field:not(:placeholder-shown) {
  border-bottom: 1px solid var(--secondary-cl);
}

.form .form-field:focus::-webkit-input-placeholder {
  color: var(--secondary-cl);
}

.form .form-field:focus:-ms-input-placeholder {
  color: var(--secondary-cl);
}

.form .form-field:focus::-ms-input-placeholder {
  color: var(--secondary-cl);
}

.form .form-field:focus::placeholder {
  color: var(--secondary-cl);
}

.hero-section {
  position: relative;
  padding-top: 210px;
  padding-bottom: 180px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/mobile/hero-bg.jpg);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/mobile/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 270px;
    padding-bottom: 245px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/mobile/hero-bg@2x.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/mobile/hero-bg@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/mobile/hero-bg@3x.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/mobile/hero-bg@3x.jpg);
  }
}

.hero-section .content-box {
  width: 100%;
  max-width: 305px;
}

@media screen and (min-width: 768px) {
  .hero-section .content-box {
    margin-left: 210px;
    max-width: 355px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section .content-box {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/tablet/hero-bg.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/tablet/hero-bg.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/tablet/hero-bg@2x.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/tablet/hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/tablet/hero-bg@3x.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/tablet/hero-bg@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/desktop/hero-bg.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/desktop/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/desktop/hero-bg@2x.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/desktop/hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(../images/hero-bg/desktop/hero-bg@3x.jpg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%), url(../images/hero-bg/desktop/hero-bg@3x.jpg);
  }
}

.hero-title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.17;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
  color: var(--secondary-cl);
}

@media screen and (max-width: 330px) {
  .hero-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.62;
  color: var(--gray-cl);
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 18px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .about-container .image-box {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-container .image-box {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-container .image-box .pic:not(:last-child) {
    display: block;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-container .content-box {
    width: 50%;
  }
}

.about-container .content-box .about-text {
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 20px;
}

.about-container .content-box .title.about-title {
  margin-bottom: 20px;
}

.about-container .content-box .desc {
  margin-bottom: 40px;
}

.price-section {
  background-color: #191C26;
  background-image: url(../images/price-bg/modile/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .price-section {
    background-image: url(../images/price-bg/modile/price-bg@2x.png);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .price-section {
    background-image: url(../images/price-bg/modile/price-bg@3x.png);
  }
}

@media screen and (min-width: 768px) {
  .price-section {
    background-image: url(../../images/price-bg/tablet/price-bg.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price-section {
    background-image: url(../images/price-bg/tablet/price-bg@2x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .price-section {
    background-image: url(../images/price-bg/tablet/price-bg@3x.png);
  }
}

.title.price-title {
  font-size: 42px;
  line-height: 1.16;
  color: var(--secondary-cl);
  margin-bottom: 45px;
}

.price-list.mobile {
  padding: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-bottom: 40px;
}

.price-list.mobile .item:not(:last-child) {
  margin-bottom: 20px;
}

.price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 0;
  line-height: 2.14;
  color: var(--gray-cl);
}

@media screen and (min-width: 768px) {
  .price-text {
    font-size: 18px;
    line-height: 1.66;
  }
}

.price-text .price-line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

@media screen and (min-width: 768px) {
  .oldschool-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .oldschool-container .content-box {
    width: 500px;
  }
}

.title.oldschool-title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.17;
}

.oldschool-text {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 1.67;
}

.advantages-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .advantages-list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    width: 450px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.advantages-list .item {
  padding: 20px 35px;
  text-align: center;
  background-color: #F7F7F7;
}

@media screen and (max-width: 767px) {
  .advantages-list .item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list .item {
    width: 210px;
  }
  .advantages-list .item:nth-child(2n + 1) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .advantages-list .item:nth-child(2n) {
    margin-top: 30px;
  }
}

.number {
  font-size: 42px;
  line-height: 1.36;
  font-weight: 700;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 380px) {
  .number {
    font-size: 22px;
  }
}

.number .plus {
  font-size: 16px;
  line-height: 1.37;
  font-weight: 600;
  vertical-align: top;
  color: var(--accent-cl);
}

.subtitle {
  margin-bottom: 0;
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
}

.masters-section {
  background-color: #F7F7F7;
}

.title.masters-title {
  margin-bottom: 45px;
  font-size: 42px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.masters-list .masters-item {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .masters-list .masters-item {
    width: 450px;
  }
}

.masters-list .masters-item:not(:last-child) {
  margin-bottom: 65px;
}

.masters-list .masters-item .name-master {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.39;
}

.masters-list .masters-item .position-master {
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-cl);
}

.overhead.gallery-overhead {
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .gallery-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list .item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.form-section {
  background-color: #191C26;
}

.contacts-section {
  background-color: #191C26;
  background-image: url(../images/contacts-bg/mobile/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-bg/mobile/contacts-bg@2x.png);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .contacts-section {
    background-image: url(../images/contacts-bg/mobile/contacts-bg@3x.png);
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    background-image: url(../images/contacts-bg/tablet/contacts-bg.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-bg/tablet/contacts-bg@2x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .contacts-section {
    background-image: url(../images/contacts-bg/tablet/contacts-bg@3x.png);
  }
}

.title.form-title,
.title.contacts-title {
  margin-bottom: 45px;
  font-size: 42px;
  line-height: 1.17;
  color: var(--secondary-cl);
}

@media screen and (min-width: 768px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.address-list {
  margin-bottom: 45px;
}

.address-list .item:not(:last-child) {
  margin-bottom: 20px;
}

.address-link,
.time {
  font-size: 18px;
  line-height: 1.67;
  color: var(--gray-cl);
  margin: 0;
}

.address-link {
  position: relative;
  padding-left: 25px;
}

.address-link .address-icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  width: 20px;
  height: 20px;
}

.footer-section {
  padding-top: 45px;
  padding-bottom: 45px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-footer .copy {
  margin: 20px 0 0 0;
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
  color: var(--gray-cl);
}
/*# sourceMappingURL=main.css.map */