.form {
    display: flex;
    flex-direction: column;

    .tablet-input {
        @include for-size (mobile-only) {
            display: flex;
            flex-direction: column;
        }

        @include for-size (tablet) {
            display: flex;
            .form-input {
                flex-basis: calc((100% - 30px) / 2);

                &:not(:last-child) {
                    margin-right: 30px;
                }
            }         
        }
    }

    .form-field {
        margin-bottom: 45px;
        padding-bottom: 8px;
        font-weight: 600;
        @include fonts-property(11px, 1.36);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--secondary-cl);
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        background-color: transparent;
        outline: none;
        resize: none;

        &:focus,
        &:not(:placeholder-shown) {
            border-bottom: 1px solid var(--secondary-cl);
        }

        &:focus::placeholder {
            color: var(--secondary-cl);
        }

    }
}