:root {
    --main-text-cl: #555555;
    --accent-cl: #FF6C00;
    --secondary-cl: #FFFFFF;
    --heading-cl: #303030;
    --sky-gray-cl: rgba(157, 164, 189, 0.6);
    --gray-cl: #9DA4BD;
}

$main-font: 'Open Sans', sans-serif;
$title-font: 'Raleway', sans-serif;