.about-container {
    @include for-size (tablet) {
        display: flex;
        align-items: center;
    }

    .image-box {
        @include for-size (tablet-only) {
            display: none;
        }

        @include for-size (tablet) {
            margin-right: 30px;
        }

        .pic:not(:last-child) {
            @include for-size (tablet) {
                display: block;
                margin-bottom: 30px;
            }
        }
    }
}

.content-box {
    @include for-size (tablet) {
        width: 50%;
    }

    .about-text {
        @include fonts-property(16px, 1.62);
        margin-bottom: 20px;
    }
    
    .title.about-title {
        margin-bottom: 20px;
    }
    
    .desc {
        margin-bottom: 40px;
    }
}