.overhead.gallery-overhead {
    margin-bottom: 45px;
}

.gallery-list {
    @include for-size (mobile-only) {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    @include for-size (tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    @include for-size (desktop) {
        flex-wrap: nowrap;
        margin: 0;
    }

    .item {
        @include for-size (mobile-only) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @include for-size (tablet-to-desktop) {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }

        @include for-size (desktop) {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}