.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 10px 40px 10px;
}

.main-nav {
    display: flex;
    align-items: center;

    @include for-size (tablet-only) {
        justify-content: space-between;
    }
}

.icon-logo {
    position: relative;
    z-index: 2;
    width: 70px;
    height: 55px;
    fill: var(--secondary-cl);

    @include for-size (tablet) {
        fill: var(--heading-cl);
    }
}

.connection-list {
    @include for-size (tablet) {
        &.mobile {
            display: none;
        }
    }
    margin-bottom: 65px;

    .item:not(:last-child) {
        margin-bottom: 25px;
    }
}