.masters-section {
    background-color: #F7F7F7;
}

.title.masters-title {
    margin-bottom: 45px;
    @include fonts-property(42px, 1.17);
}

.masters-list {
    @include for-size (tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include for-size (desktop) {
        flex-direction: row;
    }

    .masters-item {
        text-align: center;

        @include for-size (tablet) {
            width: 450px;
        }

        @include for-size (desktop) {
            width: 370px;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        @media screen and (max-width: 1199px) {
            &:not(:last-child) {
                margin-bottom: 65px;
            }
        }

        .name-master {
            margin-top: 30px;
            @include fonts-property(18px, 1.39);
        }
        
        .position-master {
            margin: 10px 0 0 0;
            @include fonts-property(14px, 1.36);
            color: var(--accent-cl);
        }
    }
}