.oldschool-container {
    @include for-size (tablet) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .content-box {
            width: 500px;
        }
    }

    @include for-size (desktop) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.title.oldschool-title {
    margin-bottom: 20px;
    @include fonts-property(42px, 1.17);
}

.oldschool-text {
    margin-bottom: 45px;
    @include fonts-property(18px, 1.67);
}

.advantages-list {
    display: inline-flex;
    flex-wrap: wrap;

    @include for-size (mobile-only) {
        margin: -15px;
    }

    @include for-size (tablet) {
        width: 450px;
        align-self: flex-end;
    }

    .item {
        padding: 20px 35px;
        text-align: center;
        background-color: #F7F7F7;

        @include for-size (mobile-only) {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }

        @include for-size (tablet) {
            width: 210px;

            &:nth-child(2n + 1) {
                margin-right: 30px;
                margin-bottom: 30px;
            }

            &:nth-child(2n) {
                margin-top: 30px;
            }
        }
    }
}

.number {
    @include fonts-property(42px, 1.36);
    font-weight: 700;
    letter-spacing: 0.05em;

    @media screen and (max-width: 380px) {
        font-size: 22px;
    }

    .plus {
        @include fonts-property(16px, 1.37);
        font-weight: 600;
        vertical-align: top;
        color: var(--accent-cl);
    }
}

.subtitle {
    margin-bottom: 0;
    @include fonts-property(11px, 1.36);
    font-weight: 600;
}